
# Ignore all files in inputs except .gitkeep
inputs/*
!inputs/.gitkeep

# Ignore all files in results and subfolders except .gitkeep
!results/.gitkeep
results/iqtree/*.treefile
results/mafft/*.mafft
results/trimal/*.trimal


# Nextflow specific files
.nextflow.log*
.nextflow/
work/

# Mac specific file
.DS_Store